# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: Google
BreakBeforeBraces: Attach
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
ColumnLimit: 120
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 3
ReflowComments: true
SortIncludes: false
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Always
...
